@{
    ViewData["Title"] = "Home Page";
}
@model Dish

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <h3>@Model.Chef</h3>



    <br>
    <br>
    <br>


    <div>
        <h4>@Model.Description</h4>
        <br>
        <br>
        <table class="table table-striped">
            <tr>
            </tr>
            <tr>
                <td>Calories: @Model.Calories</td>
            </tr>
            <td>Tastiness: @Model.Tastiness</td>
            </tr>
            </tr>
        </table>

    <button><a href="/dish/delete/@Model.DishId"> Delete</a></button>

    <button><a href="/dish/update/@Model.DishId"> Update</a></button>

    </div>
</div>
